"*":
  "atom-package-deps":
    ignored: []
  core:
    disabledPackages: [
      "minimap"
      "whitespace"
      "synced-sidebar"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "5a4a495f-99a9-50cd-f05c-85c2c77cc414"
  "linter-ui-default": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  "one-light-ui": {}
  "save-session":
    dataSaveFolder: "/Users/Mo/.atom/packages/save-session/projects"
  "seti-ui":
    themeColor: "Orange"
  "tree-view": {}
  welcome:
    showOnStartup: false
